@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color:rgb(61, 28, 28);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 80%;
    font-family: 'Nova Square';
}

h1 {
    font-size: 5.4em;
    color: rgb(252, 229, 229);
    margin-bottom: 5rem;
}


h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding:2rem;
}


.flex.column{
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    display: flex;
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align:center;
    text-justify: auto;    
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(243, 0, 231);
    background: rgb(8, 37, 59);
    box-shadow: floralwhite;
    border-style: double;
    border-color: yellow;
    border-radius: 1rem 5rem 3rem 1rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}


.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform:none; 
}


#highscore-btn {
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 119, 124) 100%);
    display: flex;
    color:maroon;
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* End Page CSS */
.end-form-container {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width: 30rem;
    padding-bottom: 10%;
}

input{
    margin-bottom: 1rem;
    color:floralwhite;
    background-color: rgb(179, 123, 4);
    width: 20rem;
    padding:1.5rem;
    font-size: 1.8rem;
    border: bold;
    box-shadow:0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: rgb(114, 105, 107);
}
#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: whitesmoke;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color:rbg(28,26,26);
}

